.sidebar {
    width: 200px;
    background: #f8f9fa;
    transition: width 0.3s ease;
    overflow: hidden;
    padding: 10px;
  }
  
  .sidebar.closed {
    width: 50px;
  }
  
  .toggle-button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }

  .input-button {
    background: #B3EBF2;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 4px;
    font-size: 16px;
    margin-top: 1em;
  }
  
  .sidebar-content {
    padding: 10px;
  }
  
  .dropdown {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }

  .rounded-button {
    border-radius: 10px;
  }

  .latlong-input {
    width: 100%;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
  }

  .latlong-input:focus {
    border: 1px solid #555;
  }